@charset "utf-8";

*{
    font-family: sans-serif;
    margin : 0; 
    padding: 0;
}

div#menu{/*div from main_page.php document*/
    padding-top: 5%;
    width: 100%;
   
}

div#content-a{ /*first content from left-up to right-up from main_page.php document*/
background-color: aquamarine;
width: 25%;
height: 150px;
float: left;
margin-left: 20%;
box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
border-bottom-right-radius: 2.5px;
border-bottom-left-radius: 2.5px;


}

div#content-b{/*second content from left-up to right-up from main_page.php document*/
    background-color: blueviolet;
    width: 25%;
    height: 150px;
    float: right;
    margin-right: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
   

}



div#content-c{/*first content from left-bottom to right-bottom from main_page.php document*/
    background-color: chartreuse;
    width: 25%;
    height: 150px;
    float: right;
    margin-right: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    margin-top: 5%;

}


div#content-d{/*second content from left-bottom to right-bottom from main_page.php document*/
    background-color:chocolate;
    width: 25%;
    height: 150px;
    float: left;
    margin-left: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    margin-top: 5%;

}


div#content-a:hover, div#content-b:hover, div#content-c:hover, div#content-d:hover{/*hover configuration at contents from main_page.php document*/
   box-shadow: -5px 5px 20px rgba(92, 152, 249);
}

div#content-a a, div#content-b a, div#content-c a, div#content-d a{/*anchor configuration at contents from main_page.php document*/
    color: #fff;
    text-decoration: none;
    margin-top: 20%;
 }


div#content-index{/*content from index.php document*/
    background-color: #4286f4;
    padding: 2%;
    margin: 10% 35% 10% 35%;
    width: 25%;       
    text-align: center;
    box-shadow: 2px 1px 1px rgba(188, 188, 188, 1);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    
}

div#content-index a:hover {/*hover configuration at anchor from index.php document*/
    text-shadow: 0.5px 0.5px 0.5px rgb(168, 168, 168);
    color: #fff;
}


div#content-index:hover{/*hover configuration at content from index.php document*/
    background-color:  rgba(66, 134, 244, 0.5);;
}

div#content-index a { /*anchor configuration of content from index.php document*/
    font-size: 16pt;
    color:white;
    text-decoration: none;
    padding: 2%;
    
    
}


footer{/*footer region*/
    background-color:rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 5px;
    margin-left: 0.1%;
    width: 100%;
    position: fixed;
    margin-top: 19.1%;
    color:#1e1e1e;
    font-size: 1.1em;
}

  div#interface{ /*div from all documents of the project*/
      text-align: center;
  }

  

  div#content-tabuada { /*content from tabuada.php*/
      background-color: rgba(255, 255, 255, 0.7); 
          padding: 2%;
          margin: 8% 35% 10% 30%;
          width: 40%;       
          text-align: center;
          
  }
div#content-tabuada form{/*configuration of form from tabuada.php*/
          text-align: left;
      }

div#content-divisao{ /*content from tabuada.php*/
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 2%;
    margin: 8% 35% 10% 30%;
    width: 40%;       
    text-align: center;
}

div#content-divisao form{
    margin-top: 2.5%;
    padding: 5px;
    margin-left: 3.6%;

}

  p.special-phrase{/*configuration of phrases in some documents*/
      text-align: left;
  }

  span.special-word, .special-word2{/*configuration of some special words*/
      font-weight: bold;
  }

  span.special-word {/*configuration of some words that are important to read because means something to the matter of the didactic game*/
      color: crimson;
  }

  span.special-word2{/*configuration of some words that are important to read because means something to the matter of the didactic game*/
      color:#008b8b;
      
  }

  span.special-word3 {/*configuration of some words that are important to read because means something to the matter of the didactic game*/
    color: rgb(0, 139, 93);
    font-weight: bold;
}

span.special-word4{/*configuration of some words that are important to read because means something to the matter of the didactic game*/
    color:darkgoldenrod;
    font-weight: bold;
}



  input.button-play{/*button from tabuada.php document*/
    padding: 5px;
    background-color:  rgba(220, 20, 60, 0.7);
    border-radius: 5px;
    color: white;
    width: 25%;
    border: none;
    box-shadow: 2px 1px 1px rgba(188, 188, 188, 1);
    
    margin-top: 5%;
    
    
  }

  input.button-play:hover{/*configuration of hover of button from tabuada.php document*/
    background-color:  rgba(220, 20, 60, 0.459);
    transition: 0.5s;
    
  
  }

  


 

