@charset "utf-8";

*{/*universal configuration*/
    font-family: sans-serif;
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
}



nav#menu-bar a {
    text-decoration: none;
}


div#menu{/*div from main_page.php document*/
    padding-top: 5%;
    width: 100%;
   
}

div#content-a{ /*first content from left-up to right-up from main_page.php document*/
background-color: aquamarine;
width: 25%;
height: 200px;
float: left;
margin-left: 20%;
box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
border-bottom-right-radius: 2.5px;
border-bottom-left-radius: 2.5px;


}

div#content-b{/*second content from left-up to right-up from main_page.php document*/
    background-color: blueviolet;
    width: 25%;
    height: 200px;
    float: right;
    margin-right: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
   

}


div#content-c{/*second content from left-bottom to right-bottom from main_page.php document*/
    background-color:chocolate;
    width: 25%;
    height: 200px;
    float: left;
    margin-left: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    margin-top: 5%;

}

div#content-d{/*first content from left-bottom to right-bottom from main_page.php document*/
    background-color: chartreuse;
    width: 25%;
    height: 200px;
    float: right;
    margin-right: 20%;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    margin-top: 5%;

}




div#content-a:hover, div#content-b:hover, div#content-c:hover, div#content-d:hover{/*hover configuration at contents from main_page.php document*/
   box-shadow: -5px 5px 20px rgba(92, 152, 249);
   transition: 0.5s;
   
  
   
}

div#content-a a, div#content-b a, div#content-c a, div#content-d a{/*anchor configuration at contents from main_page.php document*/
    margin-top: 75px; 
    font-size: 18pt;
    color: black;
    text-decoration: none;
  
 }


div#content-index{/*content from index.php document*/
    background-color: #4286f4;
    padding: 2%;
    margin: 10% 37.5% 10% 37%;
    width: 25%;       
    text-align: center;
    box-shadow:-2.5px 2px 15px rgba(128, 131, 136, 0.829);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    
}

div#content-index a:hover {/*hover configuration at anchor from index.php document*/
    /*color: rgba(255, 230, 0, 0.89);*/
    text-shadow: 0.2px -0.2px 2px rgba(114, 114, 114, 0.712);
    border-bottom: 2px solid rgb(255, 255, 0);
    color: rgb(77, 76, 76);
       
}


div#content-index:hover{/*hover configuration at content from index.php document*/
    background-color:  rgba(66, 134, 244, 0.808);
    transition: 0.1s;
   
    
}

div#content-index a { /*anchor configuration of content from index.php document*/
    font-size: 19pt;
    color:whitesmoke;
    text-decoration: none;
    padding: 2%;
    border-bottom: none;
}



div#footer{/*footer region*/
    background-color:rgba(0, 0, 0, 0.527);
}

  div#interface{ /*div from all documents of the project*/
      text-align: center;
  }
  
#content-tabuada { /*content from tabuada.php*/
        width: 55%;   
        background-color: rgba(255, 255, 255, 0.7); 
        margin-top: 5%;
        padding: 2%;   
        text-align: center;
        font-size: 15pt;
        letter-spacing: 1.2px; 
          
  }
div#content-tabuada form{/*configuration of form from tabuada.php*/
          text-align: left;
      }

p.special-phrase{/*configuration of phrases in some documents*/
      text-align: left;
  }

span.special-word, .special-word2{/*configuration of some special words*/
      font-weight: bold;
  }

span.special-word {/*configuration of some words that are important to read because means something to the matter of the didactic game*/
      color: crimson;
  }

span.special-word2{/*configuration of some words that are important to read because means something to the matter of the didactic game*/
      color:#008b8b;
  }

span.special-word3 {/*configuration of some words that are important to read because means something to the matter of the didactic game*/
    color: rgb(0, 139, 93);
    font-weight: bold;
}
span.special-word4{/*configuration of some words that are important to read because means something to the matter of the didactic game*/
        color:rgb(255, 255, 0);
}

input.button-play{/*button from tabuada.php document*/
    padding: 5px;
    background-color:  rgba(220, 20, 60, 0.7);
    border-radius: 5px;
    color: white;
    width: 15%;
    border: none;
    box-shadow: 2px 1px 1px rgba(188, 188, 188, 1);
    margin-top: 5%;
    font-weight: normal;
    margin-left: 37%;
    font-size: 1em;
    letter-spacing: 1px;
    
}

input.button-play:hover{/*configuration of hover of button from tabuada.php document*/
    background-color:  rgba(220, 20, 60, 0.459);
    transition: 0.5s;
    
  
}

a.button:hover {/*configuration of hover of button from funcao_tabuada.php document*/
    background-color: rgba(220, 20, 60, 0.459);
    transition: 0.5s;
}

a.button {/*button from funcao_tabuada.php document*/
text-decoration: none;
padding: 5px;
background-color: rgba(220, 20, 60, 0.7);
border-radius: 5px;
color: white;
width: 25%;
border: none;
box-shadow: 2px 1px 1px rgba(188, 188, 188, 1);
margin-top: 5%;
font-weight: normal;
font-size: 1em;
letter-spacing: 1px;
}

ul.list-A{/*configuration of the list of the buttons from funcao_tabuada.php document*/
    margin-top:2.5%;
    margin-bottom:0%;
    list-style: none;
    
}

ul.list-A li{/*configuration of the list items of the buttons from funcao_tabuada.php document*/
    display:inline-block;
    padding:1px;
}

li.home {/*configuration of the buttom home from funcao_tabuada.php document*/
    border-radius: 2px;
    width:8%;
    padding:0;
    margin:auto auto auto 94%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.0) ;   
   
}

li.home:hover {/*configuration of hover of the buttom home from funcao_tabuada.php document*/
    border-bottom: 2px solid crimson;
}

p.resultSet {/*configuration of the result of from funcao_tabuada.php document*/
    text-align: left;
}

 

